---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);
import { getRelativeLocaleUrl } from "astro:i18n";
import PongGame from "@/components/PongGame.astro";

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
    Object.keys(LOCALES).map((lang) => ({
        params: { lang },
    }));
---

<Layout>
    <div class="w-full">
        <PongGame />
    </div>

    <main class="max-w-4xl mx-auto px-4 mt-12">
        <h1 class="text-3xl font-bold">Welcome to my Portfolio</h1>
    </main>
</Layout>